<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo d-flex justify-content-center align-items-center py-4 rounded-pill ">
      <h2 class="text-white text-uppercase mb-0">
          <fa-icon [icon]="faRss" class="me-1"></fa-icon>
          <a routerLink="/" class="text-white">news</a>
      </h2>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <fa-icon [icon]="faNewspaper" class="me-3"></fa-icon>
        <a routerLink="/">headlines</a>
      </li>
      <li nz-menu-item>
        <fa-icon [icon]="faHandHoldingUsd" class="me-3"></fa-icon>
        <a routerLink="/business">business</a>
      </li>
      <li nz-menu-item>
        <fa-icon [icon]="faHeartbeat" class="me-3"></fa-icon>
        <a routerLink="/health">health</a>
      </li>
      <li nz-menu-item>
        <fa-icon [icon]="faDatabase" class="me-3"></fa-icon>
        <a routerLink="/tech">technology</a>
      </li>
      <li nz-menu-item>
        <fa-icon [icon]="faDumbbell" class="me-3"></fa-icon>
        <a routerLink="/sports">sports</a>
      </li>
      <li nz-menu-item>
        <fa-icon [icon]="faAtom" class="me-3"></fa-icon>
        <a routerLink="/science">sciense</a>
      </li>
      <li nz-menu-item>
        <fa-icon [icon]="faGamepad" class="me-3"></fa-icon>
        <a routerLink="/entertainment">entertainment</a>
      </li>
      <li nz-menu-item>
        <fa-icon [icon]="faGlobe" class="me-3"></fa-icon>
        <a routerLink="/general">general</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <input #searchin  type="text" class="form-control" (keyup.enter)="search(searchin.value)" placeholder="search">
    <router-outlet></router-outlet>
    <nz-footer>Hussien Design ©2020 Implement By Hussien</nz-footer>
  </nz-layout>
</nz-layout>
